<ion-header>
  <ion-navbar>
    <ion-title>Instagram</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>

    <img class="instagram" height="390px" width="390px" src="assets/imgs/raul.png"/>

    <ion-card-content>
      <ion-card-title>
        rauliyo97
      </ion-card-title>
      <p>
        Hoy ya volvemos a los entrenamientos, y con muchas ganas de empezar y ver que nos trae esta temporada!!!
      </p>
    </ion-card-content>

    <ion-item>
      <ion-icon name='ios-heart-outline'></ion-icon>
      <ion-icon name='ios-chatbubbles-outline'></ion-icon>
      <ion-icon name='ios-paper-plane-outline'></ion-icon>
      <ion-icon></ion-icon>
      <ion-icon></ion-icon>
      <ion-icon></ion-icon>
      <ion-icon></ion-icon>
      <ion-icon></ion-icon>
      <ion-icon></ion-icon>
      <ion-icon name='ios-bookmark-outline'></ion-icon>
    </ion-item>

  </ion-card>

</ion-content>
