<ion-header>
  <ion-navbar>
    <ion-title>Lista de Equipos de Futbol</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="equipos-fubol">
  <ion-list>
    <ion-list-header>ESPAÑA</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/realmadrid.png">
      </ion-avatar>
      <h2>Real Madrid Club de Fútbol</h2>
      <p>El Real Madrid Club de Fútbol, más conocido simplemente como Real Madrid, es una entidad polideportiva con sede en Madrid.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/barcelona.png">
      </ion-avatar>
      <h2>Futbol Club Barcelona</h2>
      <p>El Fútbol Club Barcelona es una entidad polideportiva de Barcelona.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/atleticomadrid.png">
      </ion-avatar>
      <h2>Club Atlético de Madrid</h2>
      <p>El Club Atlético de Madrid es un club de fútbol español de la ciudad de Madrid.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/sevilla.png">
      </ion-avatar>
      <h2>Sevilla Fútbol Club</h2>
      <p>El Sevilla Fútbol Club es un club de fútbol español organizado como sociedad anónima deportiva, tiene su sede en Sevilla.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/valencia.png">
      </ion-avatar>
      <h2>Valencia Club de Fútbol</h2>
      <p>El Valencia Club de Fútbol es una sociedad anónima deportiva con sede en la ciudad de Valencia.</p>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>ITALIA</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/roma.png">
      </ion-avatar>
      <h2>Associazione Sportiva Roma</h2>
      <p>La Associazione Sportiva Roma es un club de fútbol de Italia, radicado en la ciudad de Roma.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/inter.png">
      </ion-avatar>
      <h2>Inter de Milán</h2>
      <p>El Inter de Milán​, ​ más conocido como Internazionale o simplemente Inter, ​ es un club de fútbol de Italia con sede de la ciudad de Milán.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/milan.png">
      </ion-avatar>
      <h2>Associazione Calcio Milan</h2>
      <p>La Associazione Calcio Milan, también conocida como A. C. Milan o Milan, es un club de fútbol italiano de la ciudad de Milán.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/juventus.png">
      </ion-avatar>
      <h2>Juventus de Turín</h2>
      <p>La Juventus de Turín​, conocida simplemente como Juventus o, popularmente, la Juve, es un club de fútbol italiano con sede en la ciudad de Turín.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/napoles.png">
      </ion-avatar>
      <h2>Società Sportiva Calcio Napoli</h2>
      <p>La Società Sportiva Calcio Napoli es un club de fútbol italiano con sede en la ciudad de Nápoles.</p>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>FRANCIA</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/monaco.png">
      </ion-avatar>
      <h2>Association Sportive de Monaco Football Club</h2>
      <p>La Association Sportive de Monaco Football Club, conocida también como Mónaco, es un club de fútbol perteneciente al Principado de Mónaco.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/psg.png">
      </ion-avatar>
      <h2>París Saint-Germain Football Club</h2>
      <p>El Paris Saint-Germain Football Club, conocido popularmente como Paris Saint-Germain o por su sigla PSG, es un club de fútbol profesional con sede en París.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/marsella.png">
      </ion-avatar>
      <h2>Olympique de Marsella</h2>
      <p>El Olympique de Marsella, a veces llamado por su acrónimo "OM" en Francia, o simplemente como Marsella u Olympique en los países hispanohablantes, es una entidad polideportiva con sede en Marsella.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/lyon.png">
      </ion-avatar>
      <h2>Olympique de Lyon</h2>
      <p>Es un club de fútbol de Francia con sede en Lyon</p>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>ALEMANIA</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/bayer.png">
      </ion-avatar>
      <h2>Bayern de Múnich</h2>
      <p>El Bayern de Múnich​​ es una entidad deportiva de la ciudad de Múnich, Alemania.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/dortmund.png">
      </ion-avatar>
      <h2>Borussia Dortmund</h2>
      <p>El Ballspielverein Borussia 09 e.V. Dortmund, más conocido como Borussia Dortmund o por sus siglas BVB, es un club de fútbol del oeste de Alemania, de la ciudad de Dortmund.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/shalkec.png">
      </ion-avatar>
      <h2>FC Schalke 04</h2>
      <p>El FC Gelsenkirchen-Schalke 04 e.V., más conocido simplemente como Schalke 04, es un club de fútbol de la ciudad alemana de Gelsenkirchen.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/leverkusen.png">
      </ion-avatar>
      <h2>Bayer 04 Leverkusen</h2>
      <p>El Bayer Leverkusen es un club de fútbol alemán de Leverkusen.</p>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>INGLATERRA</ion-list-header>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/city.png">
      </ion-avatar>
      <h2>Manchester City Football Club</h2>
      <p>El Manchester City Football Club es un club de fútbol de Mánchester, Inglaterra que juega en la Premier League.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/united.png">
      </ion-avatar>
      <h2>Manchester United Football Club</h2>
      <p>El Manchester United Football Club es un club de fútbol de la ciudad de Mánchester que compite en la liga inglesa Premier League y disputa sus partidos como local en el estadio Old Trafford.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/tottenham.png">
      </ion-avatar>
      <h2>Tottenham Hotspur Football Club</h2>
      <p>Tottenham Hotspur Football Club. Ejercía de local en White Hart Lane.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/arsenal.png">
      </ion-avatar>
      <h2>Arsenal Football Club</h2>
      <p>El Arsenal Football Club es un club de fútbol profesional con sede en Holloway.</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/liverpool.png">
      </ion-avatar>
      <h2>Liverpool Football Club</h2>
      <p>El Liverpool Football Club es un club de fútbol profesional con sede en Liverpool.</p>
    </ion-item>

  </ion-list>
